db_data/.my-healthcheck.cnf
db_data/aria_log_control
db_data/aria_log.00000001
db_data/ddl_recovery-backup.log
db_data/ddl_recovery.log
db_data/ib_buffer_pool
db_data/ib_logfile0
db_data/ibdata1
db_data/ibtmp1
db_data/mariadb_upgrade_info
db_data/multi-master.info
db_data/tc.log
db_data/undo001
db_data/undo002
db_data/undo003
db_data/demo/db.opt
db_data/demo/filmer.frm
db_data/demo/filmer.ibd
db_data/demo/posts.frm
db_data/demo/posts.ibd
db_data/mysql/column_stats.frm
db_data/mysql/column_stats.MAD
db_data/mysql/column_stats.MAI
db_data/mysql/columns_priv.frm
db_data/mysql/columns_priv.MAD
db_data/mysql/columns_priv.MAI
db_data/mysql/db.frm
db_data/mysql/db.MAD
db_data/mysql/db.MAI
db_data/mysql/db.opt
db_data/mysql/event.frm
db_data/mysql/event.MAD
db_data/mysql/event.MAI
db_data/mysql/func.frm
db_data/mysql/func.MAD
db_data/mysql/func.MAI
db_data/mysql/general_log.CSM
db_data/mysql/general_log.CSV
db_data/mysql/general_log.frm
db_data/mysql/global_priv.frm
db_data/mysql/global_priv.MAD
db_data/mysql/global_priv.MAI
db_data/mysql/gtid_slave_pos.frm
db_data/mysql/gtid_slave_pos.ibd
db_data/mysql/help_category.frm
db_data/mysql/help_category.MAD
db_data/mysql/help_category.MAI
db_data/mysql/help_keyword.frm
db_data/mysql/help_keyword.MAD
db_data/mysql/help_keyword.MAI
db_data/mysql/help_relation.frm
db_data/mysql/help_relation.MAD
db_data/mysql/help_relation.MAI
db_data/mysql/help_topic.frm
db_data/mysql/help_topic.MAD
db_data/mysql/help_topic.MAI
db_data/mysql/index_stats.frm
db_data/mysql/index_stats.MAD
db_data/mysql/index_stats.MAI
db_data/mysql/innodb_index_stats.frm
db_data/mysql/innodb_index_stats.ibd
db_data/mysql/innodb_table_stats.frm
db_data/mysql/innodb_table_stats.ibd
db_data/mysql/plugin.frm
db_data/mysql/plugin.MAD
db_data/mysql/plugin.MAI
db_data/mysql/proc.frm
db_data/mysql/proc.MAD
db_data/mysql/proc.MAI
db_data/mysql/procs_priv.frm
db_data/mysql/procs_priv.MAD
db_data/mysql/procs_priv.MAI
db_data/mysql/proxies_priv.frm
db_data/mysql/proxies_priv.MAD
db_data/mysql/proxies_priv.MAI
db_data/mysql/roles_mapping.frm
db_data/mysql/roles_mapping.MAD
db_data/mysql/roles_mapping.MAI
db_data/mysql/servers.frm
db_data/mysql/servers.MAD
db_data/mysql/servers.MAI
db_data/mysql/slow_log.CSM
db_data/mysql/slow_log.CSV
db_data/mysql/slow_log.frm
db_data/mysql/table_stats.frm
db_data/mysql/table_stats.MAD
db_data/mysql/table_stats.MAI
db_data/mysql/tables_priv.frm
db_data/mysql/tables_priv.MAD
db_data/mysql/tables_priv.MAI
db_data/mysql/time_zone_leap_second.frm
db_data/mysql/time_zone_leap_second.MAD
db_data/mysql/time_zone_leap_second.MAI
db_data/mysql/time_zone_name.frm
db_data/mysql/time_zone_name.MAD
db_data/mysql/time_zone_name.MAI
db_data/mysql/time_zone_transition_type.frm
db_data/mysql/time_zone_transition_type.MAD
db_data/mysql/time_zone_transition_type.MAI
db_data/mysql/time_zone_transition.frm
db_data/mysql/time_zone_transition.MAD
db_data/mysql/time_zone_transition.MAI
db_data/mysql/time_zone.frm
db_data/mysql/time_zone.MAD
db_data/mysql/time_zone.MAI
db_data/mysql/transaction_registry.frm
db_data/mysql/transaction_registry.ibd
db_data/mysql/user.frm
db_data/performance_schema/db.opt
db_data/sys/db.opt
db_data/sys/host_summary_by_file_io_type.frm
db_data/sys/host_summary_by_file_io.frm
db_data/sys/host_summary_by_stages.frm
db_data/sys/host_summary_by_statement_latency.frm
db_data/sys/host_summary_by_statement_type.frm
db_data/sys/host_summary.frm
db_data/sys/innodb_buffer_stats_by_schema.frm
db_data/sys/innodb_buffer_stats_by_table.frm
db_data/sys/innodb_lock_waits.frm
db_data/sys/io_by_thread_by_latency.frm
db_data/sys/io_global_by_file_by_bytes.frm
db_data/sys/io_global_by_file_by_latency.frm
db_data/sys/io_global_by_wait_by_bytes.frm
db_data/sys/io_global_by_wait_by_latency.frm
db_data/sys/latest_file_io.frm
db_data/sys/memory_by_host_by_current_bytes.frm
db_data/sys/memory_by_thread_by_current_bytes.frm
db_data/sys/memory_by_user_by_current_bytes.frm
db_data/sys/memory_global_by_current_bytes.frm
db_data/sys/memory_global_total.frm
db_data/sys/metrics.frm
db_data/sys/privileges_by_table_by_level.frm
db_data/sys/processlist.frm
db_data/sys/ps_check_lost_instrumentation.frm
db_data/sys/schema_auto_increment_columns.frm
db_data/sys/schema_index_statistics.frm
db_data/sys/schema_object_overview.frm
db_data/sys/schema_redundant_indexes.frm
db_data/sys/schema_table_lock_waits.frm
db_data/sys/schema_table_statistics_with_buffer.frm
db_data/sys/schema_table_statistics.frm
db_data/sys/schema_tables_with_full_table_scans.frm
db_data/sys/schema_unused_indexes.frm
db_data/sys/session_ssl_status.frm
db_data/sys/session.frm
db_data/sys/statement_analysis.frm
db_data/sys/statements_with_errors_or_warnings.frm
db_data/sys/statements_with_full_table_scans.frm
db_data/sys/statements_with_runtimes_in_95th_percentile.frm
db_data/sys/statements_with_sorting.frm
db_data/sys/statements_with_temp_tables.frm
db_data/sys/sys_config.frm
db_data/sys/sys_config.MAD
db_data/sys/sys_config.MAI
db_data/sys/user_summary_by_file_io_type.frm
db_data/sys/user_summary_by_file_io.frm
db_data/sys/user_summary_by_stages.frm
db_data/sys/user_summary_by_statement_latency.frm
db_data/sys/user_summary_by_statement_type.frm
db_data/sys/user_summary.frm
db_data/sys/version.frm
db_data/sys/wait_classes_global_by_avg_latency.frm
db_data/sys/wait_classes_global_by_latency.frm
db_data/sys/waits_by_host_by_latency.frm
db_data/sys/waits_by_user_by_latency.frm
db_data/sys/waits_global_by_latency.frm
db_data/sys/x@0024host_summary_by_file_io_type.frm
db_data/sys/x@0024host_summary_by_file_io.frm
db_data/sys/x@0024host_summary_by_stages.frm
db_data/sys/x@0024host_summary_by_statement_latency.frm
db_data/sys/x@0024host_summary_by_statement_type.frm
db_data/sys/x@0024host_summary.frm
db_data/sys/x@0024innodb_buffer_stats_by_schema.frm
db_data/sys/x@0024innodb_buffer_stats_by_table.frm
db_data/sys/x@0024innodb_lock_waits.frm
db_data/sys/x@0024io_by_thread_by_latency.frm
db_data/sys/x@0024io_global_by_file_by_bytes.frm
db_data/sys/x@0024io_global_by_file_by_latency.frm
db_data/sys/x@0024io_global_by_wait_by_bytes.frm
db_data/sys/x@0024io_global_by_wait_by_latency.frm
db_data/sys/x@0024latest_file_io.frm
db_data/sys/x@0024memory_by_host_by_current_bytes.frm
db_data/sys/x@0024memory_by_thread_by_current_bytes.frm
db_data/sys/x@0024memory_by_user_by_current_bytes.frm
db_data/sys/x@0024memory_global_by_current_bytes.frm
db_data/sys/x@0024memory_global_total.frm
db_data/sys/x@0024processlist.frm
db_data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
db_data/sys/x@0024ps_digest_avg_latency_distribution.frm
db_data/sys/x@0024ps_schema_table_statistics_io.frm
db_data/sys/x@0024schema_flattened_keys.frm
db_data/sys/x@0024schema_index_statistics.frm
db_data/sys/x@0024schema_table_lock_waits.frm
db_data/sys/x@0024schema_table_statistics_with_buffer.frm
db_data/sys/x@0024schema_table_statistics.frm
db_data/sys/x@0024schema_tables_with_full_table_scans.frm
db_data/sys/x@0024session.frm
db_data/sys/x@0024statement_analysis.frm
db_data/sys/x@0024statements_with_errors_or_warnings.frm
db_data/sys/x@0024statements_with_full_table_scans.frm
db_data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
db_data/sys/x@0024statements_with_sorting.frm
db_data/sys/x@0024statements_with_temp_tables.frm
db_data/sys/x@0024user_summary_by_file_io_type.frm
db_data/sys/x@0024user_summary_by_file_io.frm
db_data/sys/x@0024user_summary_by_stages.frm
db_data/sys/x@0024user_summary_by_statement_latency.frm
db_data/sys/x@0024user_summary_by_statement_type.frm
db_data/sys/x@0024user_summary.frm
db_data/sys/x@0024wait_classes_global_by_avg_latency.frm
db_data/sys/x@0024wait_classes_global_by_latency.frm
db_data/sys/x@0024waits_by_host_by_latency.frm
db_data/sys/x@0024waits_by_user_by_latency.frm
db_data/sys/x@0024waits_global_by_latency.frm
.idea/modules.xml
.idea/vcs.xml
.idea/docker-compose-nodejs-example.iml
